#member,
#assignment {
  margin-bottom: 1rem;
}

input {
  margin-right: 1rem;
}

h1,
h3 {
  text-align: center;
}

#scrumBoard {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.col {
  min-width: 300px;
  min-height: 300px;
  border: solid 1px black;
}

.content {
  padding: 1rem;
}

.card {
  border: solid 0.1px black;
  margin-bottom: 1rem;
  padding: 0.5rem;
}
